RewriteEngine On
RewriteBase /

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Exclude favicon.ico from being rewritten
RewriteCond %{REQUEST_URI} !=/favicon.ico

# Redirect everything else to index.php
RewriteRule ^ index.php [QSA,L]
