{% extends "Default/base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 class="text-body-emphasis">404 Page not found</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted">
            Sorry the page you are looking for doesn't exist...
        </p>
        <div class="d-inline-flex gap-2 mb-5">
            <a href="/" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill">
                Home page
            </a>
        </div>
    </div>
</div>

{% endblock %}